body{
	background: url('../images/main.jpg');
	background-repeat: no-repeat;
	border-color: black;
}
my-header{
	background-color: brown;
}
.navbar{
	background-color: black;
    height: 100px;
}
.head .h1{
	text-shadow: 1px 2px rgb(207, 209, 196);
	
}
.head .h1:hover{
	text-shadow: 1px 3px rgb(126, 101, 101);
}
textarea{
	padding-top: 5px;
}
.Items .btn{
	background-color: rgb(236, 232, 232);
	border-radius: 6px;

}
.Items .btn:hover{
	background-color: red;
	border-radius: 25px;
}
.Items a{
	color: black;
}
.Items a:hover{
	color: white;
}
/* header code end */
/*section code start*/
/* login file code*/
section h1{
	color:black;
	text-shadow: 5px 10px, rgb(218, 19, 19);
}
/*Headeoffices*/

*,
*::before,
*::after {
    box-sizing: border-box;
    color: inherit;
    list-style-type: none;
    
}
a{
    color: white;
    

}



#marquee {
    padding: 30px 0px;
    width: 100%;

}

#marquee .container {
    overflow: hidden;

    
	height: 300px;
}

#marquee .pic-container {
    padding: auto;
    display: flex;
    animation: marquee 20s infinite linear;
	height: 600px;
	width: 100%;
}

#marquee .pic-container .pic {
	height: 300px;
    flex-basis: 30%;
    flex-shrink: 0;
}
#marquee .pic-container .pic .size{
            height: 100%;
            width: 100%;
        }
       
    

#marquee img {
    width: 100%;
	height: 350px;
    object-fit: cover;
    border: 1px solid rgba(238, 231, 231, 0.9);
}

@media (max-width: 1024px) {
    #marquee .pic-container .pic {
        flex-basis: 25%;
    }
}

@media (max-width: 768px) {
    #marquee .pic-container .pic {
        flex-basis: 33.33%;
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@media (max-width: 1024px) {
    @keyframes marquee {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-125%);
        }
    }
}

@media (max-width: 768px) {
    @keyframes marquee {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-186.65%);
        }
    }
}
 
/*footer code*/
.foot a{
	color: white;
	text-transform: uppercase;
}

 